<div id="Authentification" class="row"  >
  <form #LoginForm="ngForm" >
    <div class="row">
      <div class="col s3">
        <div class="input-field inline">
          <input #Email="ngModel" [(ngModel)]="service.SelectedLogin.Email" id="Email" name="Email" type="Email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <div class="input-field inline">
          <input #Password="ngModel" [(ngModel)]="service.SelectedLogin.Password" id="Password" name="Password" type="Password" class="validate">
          <label for="password" data-error="wrong" data-success="right">Mots de passe</label>
          
        </div>
      </div>
    </div>
   
    <button 
    type="button"
    (click)="Login()"
    class="btn waves-orange black "
  >Se Connecter</button>
  </form>
</div>